main .help-container { 
  padding: 4vh 2vw;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .help-container article {
  width: 90vw;
  max-width: 900px;
  margin-bottom: 5vh;
  padding: 4vh 2vw;
  border-radius: 15px;

  box-shadow: 0 0 20px #dddddd;
  background-color: #f8f8f8;
}

main .help-container article img {
  background-color: #21376B;
  height: 6vh;
  padding: 5px;
  border-radius: 50px;
}

main .help-container article h2 {
  margin: 10px 0;
  font-size: 1.8rem;
}

main .help-container article p {
  font-size: 1.5rem;
  line-height: 25px;
}

main .help-container article ul {
  font-size: 1.4rem;
  margin: 5px 0 5px 20px;
  line-height: 25px;
}

main .help-container article a {
  text-decoration: underline;
  color: #21376B;
  cursor: pointer;
  transition: opacity 0.3s;
}

main .help-container article a:hover {
  opacity: 0.8;
}
