<!DOCTYPE html>
<html lang="pt-br">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-S1B8FDY1M8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-S1B8FDY1M8');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../.././global.css">
  <link rel="stylesheet" href="./index.css">
  <link rel="icon" href="../../assets/images/icons/central.png" type="image/icon type">
  <meta name="author" content="Equipe turma 1º semestre SI - UFSM FW 2020" />
  <meta name="description"
    content="O projeto tem o objetivo da criação de um site para ajudar a sociedade frederiquense a lidar com a crise do novo coronavírus. Nele está contido informações relevantes sobre a Covid-19 e contatos úteis sobre hospitais, farmácias, supermercados e demais estabelecimentos. O site é fruto do trabalho conjunto dos alunos de Sistemas de Informação da Universidade Federal de Santa Maria, campus de Frederico Westphalen, que ingressaram no primeiro semestre de 2020 e estão interessados em promover o bem-estar social diante da pandemia da doença." />
  <meta name="abstract" content="" />
  <meta name="keywords" content="coronavírus, ufsm fw, UFSM, site central covid 19, covid-19, frederico westphalen" />
  <title>Centeal Covid-19</title>
</head>

<body>
  <div id="container" class="container">
    <header>
      <div class="header-container">
        <span>
          <img src="../.././assets/images/logos/logo_covid.png" alt="logo-coopera">
        </span>
        <div class="menu-section">
          <div class="menu-toggle">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
          </div>
          <nav>
            <ul>
              <li class="li-one">
                <a href="../.././index.html">Início</a>
              </li>
              <li class="li-two">
                <a href="../.././components/help/index.html">Ajuda</a>
              </li>
              <li style="font-weight: 700;" class="li-three">
                <a href="../.././components/contacts/index.html">Contatos Úteis</a>
              </li>
              <li class="li-four">
                <a href="../.././components/about/index.html">Sobre</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="contact-container">
        <div id="fw-content" class="content">
          <h2>Frederico Westphalen - RS</h2>
          <span>
            <h2>UBS Dr. Ayres Marinho Cerutti</h2>
            <section class="phone">
              <img src="../../assets/images/icons/phone.png" alt="phone">
              <h3>(55) 3744-2665</h3>
            </section>
          </span>
          <span>
            <h2>UBS São Francisco de Paula</h2>
            <section class="phone">
              <img src="../../assets/images/icons/phone.png" alt="phone">
              <h3>(55) 3744-7761</h3>
            </section>
          </span>
          <span>
            <h2>Posto Central e Secretaria da Saúde</h2>
            <section class="phone">
              <img src="../../assets/images/icons/phone.png" alt="phone">
              <h3>(55) 3744-4511</h3>
            </section>
          </span>
          <span>
            <h2>Prefeitura</h2>
            <section class="phone">
              <img src="../../assets/images/icons/phone.png" alt="phone">
              <h3>(55) 3744-5050</h3>
            </section>
          </span>
          <span>
            <h2>Hospital Divina Providência (HDP)</h2>
            <section class="phone">
              <img src="../../assets/images/icons/phone.png" alt="phone">
              <h3>(55) 3744-4888</h3>
            </section>
          </span>
          <span>
            <h2>UBS Dr. Ayres Marinho Cerutti</h2>
            <section class="phone">
              <img src="../../assets/images/icons/phone.png" alt="phone">
              <h3>(55) 99903-4836</h3>
            </section>
          </span>
        </div>
        <div id="palmeira-content" class="content">
          <h2>Palmeira das Missões - RS</h2>
          <span>
            <h2>Nome:</h2>
            <section class="phone">
              <img src="../../assets/images/icons/phone.png" alt="phone">
              <h3>(99) 9999-9999</h3>
            </section>
          </span>
        </div>
      </div>
      <div class="citys">
        <span id="fw" class="city">
          <h2>Frederico Westphalen - RS</h2>
        </span>
        <span id="palmeira" class="city">
          <h2>Palmeira das Missões - RS</h2>
        </span>
      </div>
    </main>
    <footer>
      <div class="footer-information">
        <span class="copyright">
          <h2>© 2020 Central Covid-19</h2>
        </span>
        <span class="images">
          <img class="umbler" src="../.././assets/images/logos/logo-tcheturbo.png" alt="logo-umbler">
          <img class="ufsm" src="../.././assets/images/logos/logo-ufsm.png" alt="logo-ufsm">
          <img class="ufsm" src="../.././assets/images/logos/logo-ufsm-pm.png" alt="logo-ufsm-pm">
          <img class="si" src="../.././assets/images/logos/logo-si.png" alt="logo-sistemas-de-informacao">
        </span>
      </div>
    </footer>
  </div>
  <script src="../../utils/menu.js"></script>
  <script src="./index.js"></script>
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
</body>

</html>
