.contact-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: auto;
}

.contact-container h1 {
  margin: 30px;
  font-size: 2.6em;
  text-decoration: underline;
}

.contact-container .content {
  width: 100vw;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  justify-content: space-evenly;
}

.contact-container .content .phones {  
  display: flex;
  flex-direction: column;
}

.contact-container .content .phones span {
  margin-bottom: 4vh;
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  padding: 10px;
  border-radius: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f8f8f8;
}

.contact-container .content .phones span img {
  height: 4vh;
}

.contact-container .content .phones span h2 {
  margin-bottom: 5px;
  font-size: 1.8rem;
}

.contact-container .content .phones span .phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-container .content .phones span .phone img {
  height: 2vh;
  margin-right: 10px;
}

.contact-container .content .phones span .phone h3 {
  font-size: 1.5rem;
}

@media(max-width: 1070px) {
  .contact-container .content {
    flex-direction: column;
  }
}

@media(max-width: 500px) {
  .contact-container .content .phones span {
    min-width: 300px;
  }
}
