<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Solidariza</title>
</head>

<body>
  <div id="container" class="container">
    <header>
      <div class="header-container">
        <span>
          <img src="../.././assets/images/logos/coopera-fw.png" alt="logo-solidariza">
        </span>
        <div class="menu-section">
          <div class="menu-toggle">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
          </div>
          <nav>
            <ul>
              <li class="li-one">
                <a href="../.././index.html">Início</a>
              </li>
              <li class="li-two">
                <a href="../.././components/help/index.html">Ajuda</a>
              </li>
              <li style="font-weight: 700;" class="li-three">
                <a href="../.././components/contacts/index.html">Contatos Úteis</a>
              </li>
              <li class="li-four">
                <a href="../.././components/about/index.html">Sobre</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main></main>
    <footer>
      <div class="footer-information">
        <span class="images">
          <img class="fw" src="../.././assets/images/logos/logo-fw.png" alt="logo-prefeitura-fw">
          <img class="umbler" src="../.././assets/images/logos/logo-umbler.png" alt="logo-umbler">
        </span>
        <h2>Copyrigth® - Sistemas de Informação 2020</h2>
        <span class="images">
          <img class="ufsm" src="../.././assets/images/logos/logo-ufsm.png" alt="logo-ufsm">
          <img class="si" src="../.././assets/images/logos/logo-si.png" alt="logo-sistemas-de-informacao">
        </span>
      </div>
    </footer>
  </div>
  <script src="../.././menu.js"></script>
</body>

</html>
