<!DOCTYPE html>
<html lang="pt-br">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-S1B8FDY1M8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-S1B8FDY1M8');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../.././global.css">
  <link rel="stylesheet" href="./index.css">
  <link rel="icon" href="../../assets/images/icons/central.png" type="image/icon type">
  <meta name="author" content="Equipe turma 1º semestre SI - UFSM FW 2020" />
  <meta name="description"
    content="O projeto tem o objetivo da criação de um site para ajudar a sociedade frederiquense a lidar com a crise do novo coronavírus. Nele está contido informações relevantes sobre a Covid-19 e contatos úteis sobre hospitais, farmácias, supermercados e demais estabelecimentos. O site é fruto do trabalho conjunto dos alunos de Sistemas de Informação da Universidade Federal de Santa Maria, campus de Frederico Westphalen, que ingressaram no primeiro semestre de 2020 e estão interessados em promover o bem-estar social diante da pandemia da doença." />
  <meta name="abstract" content="" />
  <meta name="keywords" content="coronavírus, ufsm fw, UFSM, site central covid 19, covid-19, frederico westphalen" />
  <title>Central Covid-19</title>
</head>

<body>
  <div id="container" class="container">
    <header>
      <div class="header-container">
        <span>
          <img src="../.././assets/images/logos/logo_covid.png" alt="logo-coopera">
        </span>
        <div class="menu-section">
          <div class="menu-toggle">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
          </div>
          <nav>
            <ul>
              <li class="li-one">
                <a href="../.././index.html">Início</a>
              </li>
              <li class="li-two">
                <a href="../.././components/help/index.html">Ajuda</a>
              </li>
              <li class="li-three">
                <a href="../.././components/contacts/index.html">Contatos Úteis</a>
              </li>
              <li style="font-weight: 700;" class="li-four">
                <a href="../.././components/about/index.html">Sobre</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="about-container">
        <h2 class="description">A plataforma onde tecnologia, gestão e saúde se encontram</h2>
        <div class="text">
          <p>O projeto trata-se de uma plataforma que conta com várias informações, como endereços
            e horários de atendimento de estabelecimentos essenciais, como mercados, farmácias e
            hospitais, bem como com instruções a respeito dos cuidados e prevenções que devem ser
            tomados com relação ao novo coronavírus, a fim de prevenir a população contra a Covid19 e evitar a propagação do vírus.
          </p>
          <p>Além disso, o plataforma disponibiliza um formulário de pré-atendimento que facilita a
            identificação da doença e coloca os possíveis contaminados em contato com profissionais
            de saúde para os devidos encaminhamentos médicos.
          </p>
          <p>
            O projeto também tem como objetivo desenvolver e organizar o fluxo do manejo clínico
            dos pacientes na rede de serviços de saúde no cenário da epidemia causada pela Covid19, melhorando e qualificando as ações dos profissionais da saúde e a criação, a partir da
            plataforma, de um banco de informações relacionadas exclusivamente à pandemia da
            Covid-19 para organizar e tratar dados elaborando percentuais e mensurações gráfica e
            analítica das informações.
          </p>
        </div>
        <div class="row">
          <div class="column">
            <div class="content">
              <img src="../../assets/images/inauguracao/frederico-inauguracao.jpg" alt="Mountains" style="width:100%">
              <h3>Frederico Westphalen</h3>
              <p>Lançamento da plataforma em frederico westphalen</p>
            </div>
          </div>          
          <div class="column">
            <div class="content">
              <img src="../../assets/images/inauguracao/palmeira-inauguracao.jpg" alt="Nature" style="width:100%">
              <h3>Palmeira das Missões</h3>
              <p>Lançamento da plataforma em palmeira das missões</p>
            </div>
          </div>
        </div>
        <div class="timeline-team">
          <div class="timeline">
            <div class="timeline-container left">
              <div class="content">
                <h2>1ª Fase</h2>
                <p>O projeto irá abranger os municípios gaúchos de Frederico Westphalen e
                  Palmeira das Missões.
                </p>
              </div>
            </div>
            <div class="timeline-container right">
              <div class="content">
                <h2>2ª Fase</h2>
                <p>A área de abrangência será ampliada para mais municípios da região noroeste do
                  Rio Grande do Sul.
                </p>
              </div>
            </div>
          </div>
          <div class="team">
            <h2>Equipe</h2>
            <h3>Professores:</h3>
            <p>Dra. Adriana Soares Pereira e Dr. Rafael Marcelo Soder.</p>
            <h3>Alunos:</h3>
            <h4>Gestão do projeto:</h4>
            <p>Gabriel Cocco, Gabriel Sebastiano de Maria e Guilherme Luís Ulbriki;</p>
            <h4>Desenvolvimento e tecnologia:</h4>
            <p>Arthur Immich, Darlan Eduardo Guimarães Santos, Gabriel Sebastiano de Maria, Guilherme Luís Ulbriki e Patricia Schmuck Lengert</p>
            <h4>Diagramação de manuais e mídias sociais</h4>
            <p>Bernardo Gatto Hansen, Clara Juraci dos Santos Fritch, Clarice Maria dos Santos Fritch, Gabriel Cocco, Júlia Baldissera e Pedro Lucas da Silva Brizolla</p>
            <h4>Mineração de micro-dados e análise:</h4>
            <p>David Douglas Gonçalves de Moraes, Gustavo Rhoden e Paulina Ester Egvarth Rehbein.</p>
          </div>
        </div>
        <section class="support">
          <div class="images">
            <img
              src="../../assets/images/logos/logo-ufsm-pm.png"
              alt="UFSM Palmeira das Missões"
            >
            <img
              src="../../assets/images/logos/logo-ufsm.png"
              alt="UFSM Frederico Westphalen"
            >
            <img
              src="../../assets/images/logos/logo-tcheturbo.png"
              alt="TcheTurbo Frederico Westphalen"
            >
            <img
              src="../../assets/images/logos/logo-si.png"
              alt="Sistemas de Informação"
            >
          </div>
        </section>
      </div>
    </main>
    <footer>
      <div class="footer-information">
        <span class="copyright">
          <h2>© 2020 Central Covid-19</h2>
        </span>
      </div>
    </footer>
  </div>
  <script src="../../utils/menu.js"></script>
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
</body>

</html>