.about-container {
  width: 100%;
  max-width: 1000px;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-container .title {
  margin-top: 20px;
  font-size: 2.2rem;
}

.about-container .description {
  margin-top: 10px;
  font-size: 1.2rem;
}

.about-container .photos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.about-container .photos .photo {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.about-container .photos .photo img {
  max-width: 300px;
  max-height: 200px;
  border-radius: 10px;
}